package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
#if(${cfg.generatorPageQuery})
import ${cfg.pageQueryClass};
#end
#if(${cfg.isImportVoPackage})
import ${cfg.voClass};
#end
#if(${cfg.generatorStrategy} == 'SINGLE')
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
#end
import ${superServiceImplClassPackage};
#if(${cfg.generatorStrategy} != 'SIMPLE')
import ${cfg.pagingClass};
import ${cfg.pageInfoClass};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.metadata.OrderItem;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.transaction.annotation.Transactional;
#end
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
public class ${table.serviceImplName} extends BaseServiceImpl<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Autowired
    private ${table.mapperName} ${cfg.mapperObjectName};
#if(${cfg.generatorStrategy} != 'SIMPLE')

    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean save${entity}(${entity} ${cfg.entityObjectName}) throws Exception {
        return super.save(${cfg.entityObjectName});
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean update${entity}(${entity} ${cfg.entityObjectName}) throws Exception {
        return super.updateById(${cfg.entityObjectName});
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean delete${entity}(Long id) throws Exception {
        return super.removeById(id);
    }

    #if(${cfg.generatorStrategy} != 'SINGLE')
    @Override
    public ${cfg.voClassName} get${entity}ById(Serializable id) throws Exception {
    return ${cfg.mapperObjectName}.get${entity}ById(id);
    }

    #end
    @Override
    public Paging<${cfg.voClassName}> get${entity}PageList(${entity}${cfg.pageQuery} ${cfg.entityObjectName}${cfg.pageQuery}) throws Exception {
        Page<${cfg.voClassName}> page = new PageInfo<>(${cfg.entityObjectName}${cfg.pageQuery}, OrderItem.desc(getLambdaColumn(${entity}::getCreateTime)));
    #if(${cfg.generatorStrategy} != 'SINGLE')
        IPage<${cfg.voClassName}> iPage = ${cfg.mapperObjectName}.get${entity}PageList(page, ${cfg.entityObjectName}${cfg.pageQuery});
    #else
        LambdaQueryWrapper<${entity}> wrapper = new LambdaQueryWrapper<>();
        IPage<${cfg.voClassName}> iPage = ${cfg.mapperObjectName}.selectPage(page, wrapper);
    #end
        return new Paging<${cfg.voClassName}>(iPage);
    }
#end

}
